<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/pizzeria-ihm/src/main/java/dta/pizzeria_ihm/App.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="dta.pizzeria_ihm.App"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="pizzeria-ihm"/>
</launchConfiguration>
